:ruby

  title = title || "Page title"
  inner = inner || false
%head
  %title=title
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %meta{'charset' => 'UTF-8'}
  %meta{'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1'}

  %link{'href'=>"local/templates/btx-front/template_styles.css?_x=#{fh('local/templates/btx-front/template_styles.css')}", :rel=>"stylesheet"}
