<head>
  <title>Page title</title>
  <meta content='text/html' http-equiv='Content-Type'>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <link href='local/templates/btx-front/template_styles.css?_x=' rel='stylesheet'>
</head>
