!!! 5
%html
  = render "./local/templates/btx-front/meta.haml"
  %body
    = render "./local/templates/btx-front/header.haml"

    = render "include/showcase.haml"
    = render "include/explore.haml"
    = render "include/showcase.haml"

    = render "./local/templates/btx-front/footer.haml"



